.navigation-search{
  background: url(img/header/search.svg) no-repeat;
  width:18px;
  height:18px;
}
.navigation-button-favourite{
  background: url(img/header/favourite.svg) no-repeat;
  width: 31px;
  height: 27px;
}
.intro{
  background: url(img/index/index-background.jpg) no-repeat;
  width: 1200px;
  height: 485px;
}
.advantages-village-house{
  background: url(img/index/house.svg) no-repeat;
  width: 75px;
  height: 72px;
}
.advantages-village-food{
  background: url(img/index/food.svg) no-repeat;
  width: 74px;
  height: 70px;
}
.advantages-village-gift{
  background: url(img/index/gift.svg) no-repeat;
  width: 64px;
  height: 76px;
}
.advantages-canyon-picture{
  background: url(img/index/photo-canyon.jpg) no-repeat;
  width: 800px;
  height: 364px;
}
.newsletter{
  background: url(img/index/newsletter-background.jpg) no-repeat;
  width: 1200px;
  height: 411px;
}
.social-twitter{
  background: url(img/footer/twitter.svg) no-repeat;
  width: 18px;
  height: 15px;
}
.social-facebook{
  background: url(img/footer/facebook.svg) no-repeat;
  width: 10px;
  height: 18px;
}
.social-youtube{
  background: url(img/footer/youtube.svg) no-repeat;
  width: 20px;
  height: 16px;
}
.footer-htmlacademy-link{
  background: url(img/footer/html-logo.svg) no-repeat;
  width: 115px;
  height: 34px;
}
