@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}
html {
  height: 100%;
}
body {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  background-color: #F2F2F2;
  margin: 0;
  height: 100%;
}
.site-container{
  width: 1200px;
  margin: 0 auto;
  background-color: #FFFFFF;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
.button {
  font-family: inherit;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  color: #FFFFFF;
  background: #83B3D3;
  border-radius: 0;
  text-decoration: none;
  text-transform: uppercase;
}
.blue-button:hover, .blue-button:focus, .blue-button:active{
  background: #68A2CA;
}
.blue-button:focus {
  outline: 3px solid #756257;
  outline-offset: 0px;
}
.blue-button:active span{
  opacity: 0.3;
}
.brown-button:hover, .brown-button:active, .brown-button:focus{
  background: #615048;
}
.brown-button:focus{
  outline: 3px solid #83B3D3;
  outline-offset: 0px;
}
.brown-button:active span {
  opacity: 0.3;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* header */
.navigation{
  display: flex;
  width: 1200px;
  margin: 0 auto;
}
.navigation-list{
  margin-top: 14px;
  margin-left: 55px;
  margin-bottom: 0px;
  margin-right: 0;
  box-sizing: border-box;
  padding: 0;
  width: 470px;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.navigation-list-first .navigation-item:last-of-type .navigation-link{
  margin-right: 0;
}
.navigation-logo-container{
  margin-left: auto;
  margin-right: auto;
  width: 138px;
  overflow: visible;
  height: 65px;
  z-index: 2;
  display: flex;
}
.navigation-user{
  width: 453px;
  margin-right: 72px;
  margin-left: 0px;
  justify-content: right;
  justify-self: end;
}
.navigation-user li{
  display: flex;
}
.navigation-link{
  display: block;
  padding: 3px 9px;
  margin: 2px 7px;
  margin-left: 8px;
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  color:#000000;
}
.navigation-link:focus{
  outline: none;
}
.navigation-list-first .navigation-link:hover{
  color: #756257;
}
.navigation-list-first .navigation-link:focus:not(.navigation-current){
  outline: 3px solid #83B3D3;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 7px;
}
.navigation-list-first .navigation-link:active{
  color: #756257;
  opacity: 0.3;
}
.navigation-item{
  max-height: 46px;
  position: relative;
  overflow: visible;
}
.navigation-current{
  padding-bottom: 19px;
  padding-left: 0;
  padding-right: 0;
  margin-left: 16px;
  margin-right: 16px;
  border-bottom: 2px solid #756257;
  position: relative;
}
.navigation-search{
  width: 18px;
  height: 18px;
  padding: 10px;
  position: relative;
  margin: 0;
  margin-right: 1px;
}
.navigation-icon{
  position: absolute;
  top: 0;
  right: 0px;
  bottom: 0;
  left: 0;
  margin: auto;
}
.navigation-search:hover path{
  fill:#756257;
}
.navigation-search:focus .navigation-icon, .navigation-search:focus .navigation-icon{
  outline: 3px solid #83B3D3;
  outline-offset: 7px;
  border-radius: 10%;
  fill: #756257;
}
.navigation-search:active path{
  fill:#756257;
  fill-opacity: 0.3
 }
.navigation-favourite{
  margin-right: 10px;
}
.navigation-button-favourite{
  background-color: #FFFFFF;
  min-width: 41px;
  height: 37px;
  padding: 0;
  padding-left: 1px;
  border: none;
  position: relative;
  cursor: pointer;
}
.navigation-button-favourite:hover .favourite-heart{
  fill: #756257;
}
.navigation-button-favourite:focus .favourite-heart{
  fill: #756257;
}
.navigation-button-favourite:focus{
  outline: none;
}
.navigation-button-favourite:focus .favourite-border{
  stroke-opacity: 1;
}
.navigation-button-favourite:active .favourite-heart{
  fill: #756257;
  fill-opacity: 0.3;
}
.navigation-button-favourite:active .navigation-favourite-counter{
  opacity: 0.3;
}
.navigation-favourite-counter{
  font-family: "PT Sans", sans-serif;
  font-size: 10px;
  line-height: 13px;
  letter-spacing: -0.1em;
  color: #FFFFFF;
  position: relative;
  left: 10px;
  bottom: 10px;
}
.navigation-button-hotels{
  font-size: 16px;
  line-height: 21px;
  background: #756257;
  border: none;
  border-radius: 4px;
  min-width: 160px;
  height: 37px;
  margin-left: 10px;
  cursor: pointer;
}
/*popover*/
.popover-favourite{
  position: absolute;
  font-family: inherit;
  left: 49%;
  transform: translate(-50%, 0);
  top: 48px;
  z-index: 3;
  background: #FFFFFF;
  width: 400px;
  min-height: 232px;
  border: 1px solid #E6E6E6;
  box-sizing: border-box;
  box-shadow: 0px 25px 50px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  display: none;
}
.popover-open{
  display: block;
}
.popover-up{
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 4;
  top: -9px;
}
.popover-list{
  margin: 25px;
  padding: 0px;
  list-style-type: none;
}
.popover-item{
  margin-bottom: 25px;
}
.popover-item-link{
  display: flex;
  flex-direction: row;
  text-decoration: none;
}
.popover-item-link:hover{
  opacity: 0.6
}
.popover-item-link:focus{
  outline: 3px solid #83B3D3;
  outline-offset: 10px;
  border-radius: 2px;
}
.popover-item-link:active{
  opacity: 0.3
}
.popover-image-container{
  display: flex;
  border-radius: 50%;
}
.popover-text-container{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-left: 17px;
}
.popover-item-title{
  font-family: inherit;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  align-items: center;
  margin-top: 1px;
  margin-bottom: 0;
}
.popover-item-text{
  font-family: inherit;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #333333;
  align-items: center;
  margin-top: 0;
  margin-bottom: 0;
}
.popover-bin-button{
  display: flex;
  margin-left: auto;
  margin-top: 7px;
  background: transparent;
  height: 16px;
  width: 16px;
  padding: 0px;
  box-sizing: border-box;
  border: 0px;
  cursor: pointer;
}
.popover-bin-button:focus{
  outline: none;
}
.popover-bin-button path{
  fill-opacity: 0.2;
}
.popover-bin-button:hover path{
  fill-opacity: 1;
}
.popover-bin-button:focus{
  outline: 3px solid #83B3D3;
  outline-offset: 10px;
  border-radius: 1px;
}
.popover-bin-button:active path{
  fill-opacity: 0.1;
}
.popover-button-all{
  display: block;
  position: relative;
  box-sizing: border-box;
  margin-left: -1px;
  margin-bottom: -2px;
  font-size: 16px;
  line-height: 21px;
  padding-top: 20px;
  padding-bottom: 20px;
  min-width: 400px;
  background: #756257;
  border-radius: 0px 0px 20px 20px;
  cursor: pointer;
}
/*index*/
.main-container{
  flex-grow: 1;
}
.intro{
  background: url(img/index/index-background.jpg) no-repeat;
  background-color: #000000;
  width: 1200px;
  height: 485px;
}
.intro-picture{
  display: block;
  padding: 0;
  margin: 0 auto;
}
.intro-welcome{
  padding-top: 51px;
}
.intro-sedona{
  padding-top: 53px;
}
.intro-title{
  margin: 0;
}
.main-description{
  margin-top: 63px;
}
.main-description-text{
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  overflow: hidden;
}
.main-description-title{
  font-size: 22px;
  line-height: 36px;
  font-weight: 400;
  text-align: center;
  color: #333333;
  margin-top: 31px;
  margin-bottom: 80px;
}
.advantages-list{
  display: grid;
  grid-template-columns: repeat(3, 400px);
  gap: 0px;
  padding: 0px;
  margin: 0;
  list-style-type: none;
}
.advantages-item-picture{
  display: grid;
  grid-template-columns: repeat(3, 400px);
  grid-column: 1/-1;
}
.advantages-village-list{
  padding: 0;
  display: grid;
  grid-template-columns: repeat(3, 400px);
  list-style-type: none;
}
.advantages-item {
  background: rgba(131, 179, 211, 0.12);
  text-align: center;
  min-height: 384px;
}
.advantages-item-important .advantages-text {
  max-width: 220px;
  color: #FFFFFF;
}
.advantages-item .advantages-title {
  margin-top: 98px;
  margin-bottom: 29px;
  margin-left: auto;
  margin-right: auto;
  max-width: 180px;
}
.advantages-text {
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  max-width: 250px;
  color: #333333
}
.advantages-item-important {
  background: #83B3D3;
}
.advantages-item-important .advantages-title {
  margin-top: 98px;
  margin-bottom: 29px;
  margin-left: auto;
  margin-right: auto;
  max-width: 220px;
  color: #FFFFFF;
}
.advantages-title {
  text-transform: uppercase;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
}
.advantages-village-item {
  background: rgba(131, 179, 211, 0.12);
  display: flex;
  flex-direction: column;
  min-height: 384px;
  position: relative;
}
.advantages-village-item .advantages-title {
  margin-bottom: 20px;
  margin-top: 184px;
}
.advantages-village-item .advantages-text {
  margin-top: 0px;
  margin-bottom: auto;
}
.advantages-white {
  background:#FFFFFF;
}
.advantages-dark {
  background: rgba(131, 179, 211, 0.2);
}
.advantages-village-house::after{
  background: url(img/index/house.svg) no-repeat;
}
.advantages-village-food::after{
  background: url(img/index/food.svg) no-repeat;
}
.advantages-village-gift::after{
  background: url(img/index/gift.svg) no-repeat;
}
.advantages-village-item::after{
  content: "";
  position: absolute;
  left: 50%;
  margin-left: -38px;
  top: 85px;
  background-position: bottom 0 left 50%;
  width: 76px;
  height: 76px;
}
.advantages-canyon-picture{
  background: url(img/index/photo-canyon.jpg) no-repeat;
  width: 800px;
  height: 384px;
  grid-column: span 2;
}
/*index-hotels*/
.index-hotels{
  padding-bottom: 91px;
}
.index-hotels-title{
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  margin: 0;
  padding-top: 91px;
}
.index-hotels-text{
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  margin: 0;
  padding-top: 29px;
  padding-bottom: 58px;
  color: #333333;
}
.index-hotels-button{
  background: #756257;
  border-radius: 10px;
  line-height: 36px;
  display: block;
  margin: 0 auto;
  border: none;
  border-radius: 10px;
  min-width: 575px;
  height: 60px;
  cursor: pointer;
}
/*newsletter*/
.newsletter{
  background: url(img/index/newsletter-background.jpg) no-repeat;
  background-size: 100% auto;
  background-color: #000000;
  color: #FFFFFF;
  padding-bottom: 94px;
}
.newsletter-title{
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  margin: 0;
  padding-top: 94px;
  margin-bottom: 29px;
}
.newsletter-text{
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  text-align: center;
  margin: 0;
  padding-top: 0px;
  padding-bottom: 46px;
}
.newsletter-email-text{
  text-align: center;
  margin: 0;
  display: flex;
  justify-content: center;
}
.email-field{
  font-family: inherit;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
  background-color: #F2F2F2;
  box-sizing: border-box;
  border: none;
  border-radius: 10px 0px 0px 10px;
  width: 600px;
  height: 60px;
  padding: 0;
  padding-left: 22px;
}
.email-field:hover{
  background: #E6E6E6;
}
.email-field:focus{
  background: #FFFFFF;
  outline: 0px;
  border: 2px solid #000000;
  padding-left: 20px;
}
.email-field:not(:focus):not(:placeholder-shown):invalid{
  background: #FFFFFF;
  border: 2px solid #FF5757;
  outline: 0px;
}
.email-field::placeholder{
  opacity: 0.6;
}
.newsletter-button{
  margin: 0;
  border: none;
  min-width: 200px;
  padding-top: 17px;
  padding-bottom: 17px;
  border-radius: 0px 10px 10px 0px;
  cursor: pointer;
}
/*footer*/
footer {
  display: flex;
  flex-wrap: wrap;
  width: 1200px;
  margin: 0 auto;
  height: 120px;
  align-items: center;
}
.footer-contact-phone{
  display: flex;
  font-size: 40px;
  line-height: 40px;
  padding: 12px;
  box-sizing: border-box;
  text-transform: uppercase;
  text-decoration: none;
  font-style: normal;
  color: #000000;
}
.footer-contact-address{
  display: flex;
  min-width: 361px;
  box-sizing: border-box;
  margin-left: 58px;
  justify-content: center;
}
.footer-contact-phone:hover, .footer-contact-phone:focus, .footer-contact-phone:active{
  color: #756257;
}
.footer-contact-phone:focus{
  margin-top: 0;
  border: 3px solid #83B3D3;
  border-radius: 10px;
  outline: none;
}
.footer-contact-phone:active{
  opacity: 0.3;
}
.footer-social-list{
  margin: 0;
  padding: 0;
  width: 300px;
  margin-left: 61px;
  display: grid;
  grid-template-columns: repeat(5, 40px);
  grid-template-rows: 40px;
  gap: 4px;
  list-style-type: none;
}
.footer-button{
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}
.footer-button:hover path, .footer-button:focus path, .footer-button:active path{
  fill: #68A2CA;
}
.footer-button:focus {
  border: 3px solid #83B3D3;
  border-radius: 10px;
  outline: none;
}
.footer-button:active path{
  fill-opacity: 0.3;
}
.footer-htmlacademy-link{
  display: flex;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  height: 70px;
  width: 160px;
  margin-left: auto;
  margin-right: 49.5px;
  text-decoration: none;
}
.footer-htmlacademy-link:hover path, .footer-htmlacademy-link:focus path, .footer-htmlacademy-link:active path{
  fill: #756257;
}
.footer-htmlacademy-link:focus {
  border: 3px solid #83B3D3;
  border-radius: 10px;
  outline: none;
}
.footer-htmlacademy-link:active path{
  fill-opacity: 0.3;
}
/*modal window*/
.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  width: 100%;
  height: 100%;
  background: rgba(242, 242, 242, 0.8);
  z-index: 3;
}
.modal-container-open{
  display: flex;
}
.modal-hotels{
  position: relative;
  margin: auto;
  padding: 70px;
  padding-top: 62px;
  background-color: #FFFFFF;
  box-shadow: 0px 25px 50px rgba(0, 0, 0, 0.15);
  border-radius: 30px;
  width: 715px;
  box-sizing: border-box;
}
.modal-hotels-close{
  position: absolute;
  top: 54px;
  right: 70px;
  width: 53px;
  height: 53px;
  background: #F2F2F2;
  border: none;
  border-radius: 50%;
}
.modal-hotels-close:hover,
.modal-hotels-close:focus,
.modal-hotels-close:active{
  background: #E6E6E6;
}
.modal-hotels-close:focus{
  outline: 3px solid #83B3D3;
}
.modal-hotels-close:active path{
  fill-opacity: 0.3;
}
.modal-hotels-title{
  font-weight: 700;
  font-size: 30px;
  line-height: 40px;
  text-transform: uppercase;
  margin: 0px;
  margin-bottom: 59px;
}
.modal-hotels-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.modal-hotels-container:last-of-type{
  margin-bottom: 40px;
}
.modal-hotels-label{
  display: flex;
  align-items: center;
  line-height: 50px;
  font-weight: 700;
  min-width: 155px;
  align-self: flex-start;
}
.adults-label{
  margin-bottom: 0px;
  height: 50px;
}
.modal-input-container{
  display: flex;
  flex-direction: column;
}
.modal-input-row{
  flex-direction: row;
}
.modal-input{
  border: none;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 40px;
  font-weight: 700;
  box-sizing: border-box;
  width: 420px;
  height: 50px;
  background-color:#F2F2F2;
  border-radius: 4px;
  background-image: url(img/index/calender.svg);
  background-position: right 19px top 18px;
  background-repeat: no-repeat;
  padding-left: 19px;
}
.modal-input:hover{
  background-color: #E6E6E6;
}
.modal-input:focus{
  background-color: #FFFFFF;
  border: 2px solid #000000;
  background-position: right 17px top 16px;
  outline: none;
  padding-left: 17px;
}
.modal-input::placeholder{
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 40px;
  opacity: 0.6;
  color: #000000;
}
.modal-hotels-message{
  font-size: 16px;
  line-height: 29px;
  margin: 0px;
  display: flex;
  align-items: center;
  margin-bottom: 11px;
  color:#333333
}
.modal-hotels-error{
  color: #FF5757;
}
.modal-number-container{
  display: flex;
  flex-direction: row;
  position: relative;
}
.modal-input-button{
  position: absolute;
  width: 25px;
  height: 25px;
  box-sizing: border-box;
  opacity: 0.3;
  top: 0;
  bottom: 0;
  margin-top: auto;
  margin-bottom: auto;
  background-color: transparent;
  border: none;
}
.modal-input-button:hover{
  opacity: 1;
}
.modal-input-button:focus{
  opacity: 1;
  border: 3px solid #83B3D3;
  border-radius: 4px;
  outline: none;
}
.modal-input-button:active{
  opacity: 0.2;
}
.input-button-left{
  left: 13px;
  background-image: url(img/index/minus.svg);
  background-position: center;
  background-repeat: no-repeat;
}
.input-button-right{
  right: 13px;
  background-image: url(img/index/plus.svg);
  background-position: center;
  background-repeat: no-repeat;
}
.modal-input-number{
  border: none;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 40px;
  font-weight: 700;
  box-sizing: border-box;
  text-align: center;
  width: 133px;
  height: 50px;
  background-color:#F2F2F2;
  border-radius: 4px;
  appearance: textfield;
}
.modal-input-number:focus{
  outline: none;
}
.modal-input-number::-webkit-inner-spin-button {
  appearance: none;
}
.modal-child-container{
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}
.modal-input-child-container{
  justify-self: right;
}
.modal-child-label{
  display: flex;
  align-items: center;
  line-height: 40px;
  font-weight: 700;
  min-width: 54px;
  height: 50px;
  margin-left: auto;
  margin-right: 0;
}
.modal-child-tooltip{
  display: inline-block;
  overflow: visible;
  position: relative;
  align-items: center;
  align-self: center;
  width: 25px;
  height: 25px;
  margin-right: 18px;
  background-image: url(img/index/tooltip.svg);
  background-position: center;
  background-repeat: no-repeat;
}
.modal-child-tooltip:hover .modal-child-tooltip-text{
  visibility: visible;
}
.modal-child-tooltip-text{
  visibility: hidden;
  position: absolute;
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  z-index: 4;
  width: 256px;
  box-sizing: border-box;
  color: #FFFFFF;
  background: #333333;
  text-align: start;
  box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  top: 40px;
  left: 50%;
  margin-left: -128px;
  padding: 21px 22px 22px 22px;
}
.modal-child-tooltip-text::after{
  content: " ";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -9px;
  border-width: 9px;
  border-style: solid;
  border-color: transparent transparent #333333 transparent;
}
.modal-hotels-submit{
  min-width: 575px;
  height: 60px;
  border: none;
  border-radius: 10px;
}
/*catalog*/
.main-filter{
  background: url(img/catalog/catalog-background.jpg) no-repeat;
  background-size: cover;
  background-color: #000000;
  color: #FFFFFF;
  box-sizing: border-box;
  min-height: 408px;
  margin-bottom: 44px;
}
.catalog-filter fieldset{
  display: flex;
  flex-direction: column;
}
.inner-header{
  margin-left: 71px;
}
.inner-header-title{
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
  margin: 0;
  padding-top: 30px;
}
.breadcrumbs{
  display: flex;
  align-items: center;
  margin-top: -2px;
  margin-bottom: 45px;
  margin-left: -2px;
  padding: 0;
  list-style-type: none;
}
.breadcrumbs-item{
  margin-right: 5px;
}
.breadcrumbs-item:hover{
  opacity: 0.6;
}
.breadcrumbs-item a:focus{
  outline: 3px solid #83B3D3;
  border-radius: 2px;
}
.breadcrumbs-item:active{
  opacity: 0.3;
}
.breadcrumbs-home{
  margin-right: 6px;
}
.breadcrumbs-home a{
  display: flex;
  width: 18px;
  height: 18px;
  box-sizing: content-box;
  padding-left: 2px;
  padding-right: 2px;
  padding-bottom: 3px;
  align-items: center;
  justify-content: center;
}
.breadcrumbs-home:hover path{
  fill-opacity: 0.6;
}
.breadcrumbs-home a:focus{
  outline: 3px solid #83B3D3;
  outline-offset: 3px;
  border-radius: 1px;
}
.breadcrumbs-home:active path{
  fill-opacity: 0.3;
}
.breadcrumbs-arrow{
  background: url(img/catalog/arrow.svg) no-repeat;
  width: 6px;
  height: 8px;
  opacity: 0.3;
  margin-right: 4px;
}
.breadcrumbs-link{
  font-size: 16px;
  padding-left: 5px;
  padding-right: 5px;
  cursor: pointer;
}
.catalog-filter{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  box-sizing: border-box;
  width: 1200px;
}
.catalog-filter-title{
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  padding: 0;
  margin-bottom: 30px;
}
.catalog-filter-list{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.catalog-filter-item{
  display: flex;
  font-size: 18px;
  line-height: 23px;
  margin-bottom: 13px;
  position: relative;
  margin-right: 5px;
}
.catalog-filter-item label{
  cursor: pointer;
}
.catalog-custom-checkbox{
  display: inline-flex;
  align-items: center;
  user-select: none;
}
.catalog-custom-checkbox::before{
  content: "";
  display: inline-block;
  height: 20px;
  width: 20px;
  border-radius: 4px;
  background-color: #FFFFFF;
  background-repeat: no-repeat;
  background-position: center center;
}
.catalog-checkbox:checked+.catalog-custom-checkbox::before{
  background-image: url(img/catalog/checkmark.svg);
}
.catalog-checkbox:hover+.catalog-custom-checkbox::before,
.catalog-checkbox:focus+.catalog-custom-checkbox::before{
  background-color: rgba(255, 255, 255, 0.6);
}
.catalog-checkbox:focus+.catalog-custom-checkbox::before{
  outline: 3px solid #83B3D3;
}
.catalog-checkbox:active+.catalog-custom-checkbox::before{
  background: rgba(255, 255, 255, 0.3);
}
.catalog-radio:focus+.catalog-custom-radio::before{
  outline: 3px solid #83B3D3;
}
.catalog-custom-radio{
  display: inline-flex;
  align-items: center;
  user-select: none;
}
.catalog-custom-radio::before{
  content: "";
  display: inline-block;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  box-sizing: border-box;
  background-color: #FFFFFF;
  background-repeat: no-repeat;
  background-position: center center;
}
.catalog-radio:checked+.catalog-custom-radio::before{
  background-image: url(img/catalog/radio.svg);
}
.catalog-filter-item label{
  margin-left: 19px;
}
.catalog-filter-item .catalog-custom-checkbox, .catalog-filter-item .catalog-custom-radio{
  margin: 0px;
}
.catalog-title-table{
  margin-bottom: 34px;
}
.catalog-filter-table{
  margin-bottom: 30px;
  border-collapse: collapse;
}
.catalog-filter-cell{
  position: relative;
  width: 144px;
  height: 48px;
  padding: 0;
}
.input-rotated{
  border-radius: 0px 4px 4px 0px;
  margin-left: -2px;
}
.catalog-filter-input{
  font-family: inherit;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  background-color: transparent;
  padding: 0;
  padding-left: 17px;
  border: 2px solid #FFFFFF;
  border-radius: 4px 0px 0px 4px;
  color: #FFFFFF;
  appearance: textfield;
  position: relative;
}
.input-rotated{
  border-radius: 0px 4px 4px 0px;
  margin-left: -2px;
}
.catalog-filter-input:hover{
  border-color:rgba(255, 255, 255, 0.6);
  z-index: 3;
}
.catalog-filter-input:focus{
  outline: none;
  background: #756257;
}
.catalog-filter-label{
  position: relative;
}
.catalog-filter-text{
  position: absolute;
  font-size: 18px;
  line-height: 23px;
  text-align: right;
  opacity: 0.3;
  top: 10px;
  bottom: 0;
  right: 15px;
  z-index: 4;
}
.catalog-filter-input::-webkit-outer-spin-button,
.catalog-filter-input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}
.catalog-filter-commodities{
  min-width: 150px;
  padding: 0;
  border: none;
  margin: 0;
  margin-left: 71px;
  margin-right: 67px;
}
.catalog-filter-lodgings{
  min-width: 150px;
  margin-left: 0;
  margin-right: auto;
  padding: 0;
  border: none;
}
.catalog-filter-price{
  width: 287px;
  margin-left: 0;
  margin-right: 81px;
  padding: 0;
  border: none;
}
.range-scale {
  position: relative;
  height: 4px;
  background-color: rgba(255, 255, 255, 0.3);
}
.range-bar {
  position: absolute;
  height: 4px;
  background-color: #FFFFFF;
}
.range-toggle {
  position: absolute;
  padding: 0;
  border: 0;
  height: 20px;
  width: 20px;
  border-radius: 5px;
  cursor: pointer;
}
.range-toggle:hover .range-toggle:focus{
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}
.range-toggle:focus{
  outline: 3px solid #83B3D3;
}
.range-toggle:active{
  outline: 2px solid #83B3D3;
  box-shadow: 0px 7px 15px rgba(0, 0, 0, 0.4);
}
.toggle-min{
  top: -8px;
}
.toggle-max{
  top: -8px;
  left: 216px;
}
.filter-button-container{
  display: flex;
  flex-direction: column;
  min-width: 160px;
  padding-top: 60px;
  margin-right: 72px;
}
.catalog-button-submit{
  font-size: 16px;
  line-height: 21px;
  min-width: 160px;
  border: none;
  border-radius: 4px;
  padding-top: 13px;
  padding-bottom: 13px;
  margin-bottom: 16px;
  cursor: pointer;
}
.catalog-button-submit:hover, .catalog-button-submit:focus, .catalog-button-submit:active{
  background: #68A2CA;
}
.catalog-button-submit:focus {
  outline: 3px solid #FFFFFF;
}
.catalog-button-submit:active span{
  opacity: 0.3;
}
.button-reset{
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
  background-color: transparent;
  border: none;
  width: 100px;
  min-height: 32px;
  box-sizing: border-box;
  text-transform: none;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
}
.button-reset:hover span{
  opacity: 0.6;
}
.button-reset:focus {
  border: 3px solid #83B3D3;
  outline: none;
}
.button-reset:active span{
  opacity: 0.3;
}
.sorting-container{
  display: flex;
  width: 1057px;
  margin: 0 auto;
  margin-bottom: 42px;
}
.button-sorting{
  margin: 0px;
  margin-left: 8px;
}
.sorting-container a{
  margin: 0px;
  margin-left: 8px;
}
.sorting-container a:first-of-type{
  margin-left: 81px;
}
.sorting-choice{
  background: transparent;
  width: 48px;
  height: 48px;
}
.sorting-choice-selected{
  background: transparent;
  width: 48px;
  height: 48px;
}
.sorting-choice-selected rect{
  stroke: #000000;
}
.sorting-choice-selected:focus{
  outline: none;
}
.sorting-choice:hover rect{
  stroke: #83B3D3;
}
.sorting-choice:focus rect{
  stroke: #83B3D3;
}
.sorting-choice:focus{
  outline: none;
}
.sorting-type{
  margin-left: auto;
}
.sorting-result{
  font-size: 30px;
  line-height: 39px;
  margin: 0;
  text-transform: uppercase;
  font-weight: 700;
  margin-left: 0;
  margin-top: auto;
  margin-bottom: auto;
}
.select-sorting{
  color: #333333;
  background-image: url("img/catalog/dropdown.svg");
  background-color: #FFFFFF;
  background-repeat: no-repeat;
  background-position: right 21px center;
  appearance: none;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  min-height: 48px;
  width: 287px;
  box-sizing: border-box;
  border: 2px solid #E6E6E6;
  border-radius: 4px;
  padding-top: 10px;
  padding-bottom: 11px;
  padding-left: 19px;
  margin: 0;
}
.select-sorting:hover, .select-sorting:focus{
  border: 2px solid #83B3D3;
}
.select-sorting:active{
  opacity: 0.3;
}
.select-sorting:focus{
  outline: none;
}
.hotel-list{
  padding: 0px;
  margin: 0px;
  list-style-type: none;
}
.hotel-container{
  width: 1056px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  padding-top: 27px;
  border-top: 1px solid #E6E6E6;
  margin-bottom: 30px;
}
.hotel-main{
  display: flex;
  margin-left: 36px;
  width: 840px;
}
.hotel-head{
  display: flex;
  width: 500px;
  flex-wrap: wrap;
}
.hotel-column-first{
  display: flex;
  width: 151px;
  margin-right: 7px;
  flex-direction: column;
}
.hotel-column-second{
  display: flex;
  width: 161px;
  flex-direction: column;
}
.hotel-end{
  width: 160px;
  display: flex;
  flex-direction: column;
  margin-right: 0;
  margin-left: auto;
  padding-top: 6px;
  align-items: center;
}
.break{
  flex-basis: 100%;
  height: 0;
}
.hotel-item-link{
  text-decoration: none;
  display: flex;
}
.hotel-item-link-image{
  margin-top: 3px;
}
.hotel-item-link-image:hover{
  opacity: 0.6;
}
.hotel-item-link-image:focus{
  outline: none;
}
.hotel-item-link-image:focus img{
  outline: 3px solid #83B3D3;
  outline-offset: 0px;
  border: none;
}
.hotel-item-link-image:active{
  opacity: 0.3;
}
.hotel-item-title{
  font-size: 24px;
  line-height: 31px;
  font-weight: 700;
  text-decoration: none;
  color:#000000;
  margin: 0;
  margin-bottom: 1px;
}
.hotel-item-link-text:hover h2, .hotel-item-link-text:focus h2, .hotel-item-link-text:active h2{
  color: #756257;
}
.hotel-item-link-text:focus{
  outline: 3px solid #83B3D3;
  outline-offset: 7px;
  border-radius: 1px;
}
.hotel-item-link-text:active h2{
  opacity: 0.3;
}
.hotel-item-type{
  font-size: 18px;
  line-height: 23px;
  color: #333333;
  margin: 0;
  margin-bottom: 31px;
}
.hotel-item-price{
  font-size: 18px;
  line-height: 23px;
  color: #333333;
  margin: 0;
  margin-bottom: 31px;
}
.hotel-item-details{
  font-size: 16px;
  line-height: 21px;
  background: #756257;
  border-radius: 4px;
  min-width: 151px;
  padding-top: 8px;
  padding-bottom: 8px;
}
.hotel-item-favourite{
  font-size: 16px;
  line-height: 21px;
  border-radius: 4px;
  min-width: 160px;
  padding-top: 8px;
  padding-bottom: 8px;
}
.hotel-item-quality{
  margin-bottom: 57px;
}
.hotel-item-rating-container{
  text-align: center;
  padding-top: 8px;
  padding-bottom: 8px;
  background: #F2F2F2;
  border-radius: 4px;
  min-width: 160px;
}
.hotel-item-rating{
  font-size: 16px;
  line-height: 21px;
  text-transform: uppercase;
  color: #333333;
  margin: 0;
}
.button-favoured{
  background: #7DB54F;
}
.button-favoured:hover, .button-favoured:focus, .button-favoured:active{
  background: #6C9E42;;
}
.button-favoured:focus {
  outline: 3px solid #756257;
  outline-offset: 0px;
}
.button-favoured:active span{
  opacity: 0.3;
}
.container-more{
  width: 1056px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  padding-top: 30px;
  padding-bottom: 30px;
  border-top: 1px solid #E6E6E6;
  border-bottom: 1px solid #E6E6E6;
}
.button-more{
  min-width: 625px;
  padding-top: 14px;
  padding-bottom: 15px;
  border-radius: 4px;
}
.pagination-container{
  width: 1056px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  margin-top: 30px;
}
.pagination{
  display: flex;
  flex-wrap: wrap;
  width: 500px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.pagination-item{
  display: flex;
}
.pagination-link{
  min-width: 55px;
  border-radius: 4px;
  padding-top: 14px;
  padding-bottom: 15px;
  margin-right: 7.5px;
}
.pagination .pagination-item:last-of-type .pagination-link{
  margin-right: 0;
}
.pagination-current{
  color: #000000;
  background: #F2F2F2;
}
.pagination-amount{
  display: flex;
  align-items: center;
  font-size: 18px;
  line-height: 23px;
  color: #333333;
  width: 386px;
  margin-left: auto;
}
.select-amount{
  background-image: url("img/catalog/dropdown.svg");
  background-repeat: no-repeat;
  background-position: right 21px center;
  background-color: #FFFFFF;
  appearance: none;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 23px;
  margin-left: auto;
  box-sizing: border-box;
  border-radius: 4px;
  border: 2px solid #E6E6E6;
  min-width: 160px;
  min-height: 48px;
  padding-left: 17px;
  padding-top: 11px;
  padding-bottom: 10px;
}
.select-amount:hover, .select-amount:focus, .select-amount:focus{
  border: 2px solid #83B3D3;
}
.select-amount:active{
  opacity: 0.3;
}
.select-amount:focus{
  outline: none;
}
.catalog-newsletter{
  color: #333333;
  margin-bottom: 137px;
}
.catalog-newsletter-title{
  padding-top: 89px;
  color: #000000;
}
